/* 
  © 2025 datsforge 
  Proprietary – See LICENSE for details. 
*/
html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  z-index: var(--md-sys-z-index-header);
}

main {
  padding-top: var(--navbar-height);
}

/* Base body styles */
body {
  font-family: var(--md-sys-font-family-primary);
  font-size: var(--md-sys-typescale-body-large);
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: var(--md-sys-typescale-display-large);
  font-weight: 400;
  margin: var(--md-sys-spacing-md) 0 var(--md-sys-spacing-sm);
}

h2 {
  font-size: var(--md-sys-typescale-display-medium);
  font-weight: 400;
  margin: var(--md-sys-spacing-md) 0 var(--md-sys-spacing-sm);
}

h3 {
  font-size: var(--md-sys-typescale-display-small);
  font-weight: 400;
  margin: var(--md-sys-spacing-md) 0 var(--md-sys-spacing-sm);
}

h4 {
  font-size: var(--md-sys-typescale-headline-large);
  font-weight: 400;
  margin: var(--md-sys-spacing-md) 0 var(--md-sys-spacing-sm);
}

h5 {
  font-size: var(--md-sys-typescale-headline-medium);
  font-weight: 400;
  margin: var(--md-sys-spacing-md) 0 var(--md-sys-spacing-sm);
}

h6 {
  font-size: var(--md-sys-typescale-headline-small);
  font-weight: 400;
  margin: var(--md-sys-spacing-md) 0 var(--md-sys-spacing-sm);
}

/* Paragraph */
p {
  margin: 0 0 var(--md-sys-spacing-md);
  font-size: var(--md-sys-typescale-body-large);
  font-weight: 400;
}

/* Links */
a {
  color: var(--md-sys-color-primary);
  /* opacity: 0.8; */
  text-decoration: none;
  cursor: pointer;
  /* transition: color var(--md-sys-motion-short); */
  transition: opacity var(--md-sys-motion-short), colorvar(--md-sys-motion-short);
}

a:hover,
a:focus {
  color: var(--md-sys-color-on-background);
  /* opacity: 1; */
  outline: none;
}

/* Lists */
ul,
ol {
  padding-left: var(--md-sys-spacing-lg);
  margin: var(--md-sys-spacing-md) 0;
}

/* List items */
li {
  margin-bottom: var(--md-sys-spacing-xs);
}

/* === Footer ===*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface-variant);
  text-align: center;

  padding: var(--md-sys-spacing-3xl) 0;
  font-size: var(--md-sys-typescale-body-small);
  font-family: var(--md-sys-font-primary);
  margin-top: auto;
  border-top: 1px solid var(--md-sys-color-outline-variant);
}

/* Paragraph text inside footer */
footer p {
  margin: 0;
  font-size: var(--md-sys-typescale-body-small);
  font-weight: 400;
  line-height: 1.5;
}

/* Footer links */
footer a {
  position: relative;
  overflow: hidden;
}

/* === Underline Animation === */
footer a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 50%;
  height: 1px;
  background-color: currentColor;
  border-radius: 2px;
  opacity: 0;
  transform: translateX(-50%);
  transition:
    width var(--md-sys-motion-short),
    opacity var(--md-sys-motion-short);
}

footer a:hover::after,
footer a:focus::after,
footer a:active::after {
  width: 100%;
  opacity: 1;
  left: 50%;
}

footer .container {
  background-color: transparent;
}