/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: var(--font-size-lg);
    text-decoration: none;
    cursor: pointer;
    padding: 0 2%;
}

/* Navbar styles */
#nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    font-family: var(--font-nav);
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    margin: 0;
    padding: 0 2%;
    z-index: 1000;
    box-shadow: 0 12px 17px 4px var(--color-shadow);
    box-sizing: border-box;
    border-bottom: 1.75px solid var(--color-primary-dark);
    transition: transform 0.3s ease;
}

nav.hide-on-scroll {
    transform: translateY(-100%);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: var(--spacing-lg);
}

.nav-links a,
.logo span {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.2s;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    color: var(--color-text-primary);
    transition: color 0.2s;
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;
    margin-right: var(--margin-horizontal-main);
}

.nav-links a:hover,
.nav-links a:focus,
.logo:hover span,
.logo:focus span{
    color: var(--color-accent-secondary);
    text-decoration: none;
}

.menu-toggle:checked+.menu-icon {
    color: var(--color-accent-secondary);
}

@media (max-width: 1768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--color-primary-dark);
        padding: var(--spacing-lg) 0;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        gap: var(--spacing-sm);
        pointer-events: none;
        transform: translateY(-10px);
        transition:
            max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.3s,
            transform 0.3s;
    }

    .menu-toggle:checked+.menu-icon+.nav-links {
        max-height: 500px;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .nav-links li {
        text-align: center;
        padding: var(--spacing-md) 0;
    }
}