body {
  background-color: var(--color-bg);
  color: var(--text-primary);
  margin: 0;
}

.header-banner {
  background: var(--surface);
  color: var(--color-text-primary);
  font-family: var(--font-banner);
  display: flex;
  width: 100%;
  min-height: var(--header-banner-size);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:  0 2%;
  gap: 20px;

}

img {
  width: 64px;
  height: 64px;
}

h1 {
  font-size: var(--font-size-xl);
}

.tagline {
  font-size: var(--font-size-lg);
  color: var(--color-text-accent-secondary);
  margin-top: 1em;
}

main {
  background-color: var(--color-surface);
}

.article-intro{
  display: flex;
  flex-direction: column;
  margin: auto var(--margin-horizontal-main);
  background-color: var(--color-surface);
  color:var(--color-text-primary);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
}

footer {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-size: var(--font-size-sm);
  width: 100%;
  text-align: center;
  margin-top: auto; 
  padding: 4rem 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  /* nav {
    padding: 0.5rem 1rem;
    height: auto;
  }
  .header-banner {
    min-height: 180px;
    padding: 0 5px;
  }
  .logo {
    padding: 0.5rem 1rem;
    font-size: 1em;
  }
  .logo span {
    font-size: 1.2em;
  } */
}
