*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  nav {
    padding: 0.5rem 1rem;
    height: auto;
  }
  .header-banner {
    min-height: 180px;
    padding: 0 5px;
  }
  .logo {
    padding: 0.5rem 1rem;
    font-size: 1em;
  }
  .logo span {
    font-size: 1.2em;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--text-primary);
  margin: 0;
}

header {
  font-family: var(--font-main);
}

.header-banner {
  /* background: var(--surface); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
  min-height: 300px;
}

.header-content {
  text-align: center;
  color: var(--color-text-primary);
  gap: 20px;
}

/* Logo Image */
img {
  width: 64px;
  height: 64px;
}

/* Headings and Paragraphs */
h1 {
  font-size: 2.2em;
  margin: 0.2em 0;
}

p {
  font-size: 1em;
  opacity: 0.75;
  margin: 0.2em 0;
}

.tagline {
  font-style: italic;
  font-size: 0.95em;
  color: var(--color-text-accent-secondary);
  margin-top: 1em;
}

main {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
  padding: 2rem 12rem;
}

footer {
  background-color: var(--color-bg);
  width: 100%;
  text-align: center;
  font-size: var(--font-size-footer);
  color: var(--color-footer-text);
  margin-top: auto; 
  padding: 4rem 0;
}
