/* 
  © 2025 datsforge 
  Proprietary – See LICENSE for details. 
*/

/* Global Reset & Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
}

/* Typography */
h1 {
  font-size: var(--font-size-xxl);
  line-height: 1.0;
}

h2 {
  font-size: var(--font-size-xl);
  line-height: 1.2;
}

h3 {
  font-size: var(--font-size-lg);
  line-height: 1.3;
}

p,
a,
li {
  font-size: var(--font-size-base);
  line-height: 1.4;
}

a {
  color: var(--color-text-primary);
  transition: var(--transition-text);
}

a:hover,
a:focus,
a:active,
.link-with-icon:hover,
.link-with-icon:focus,
.link-with-icon:active {
  color: var(--color-text-accent);
}

.link-with-icon-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Special case: standalone link blocks (optional styling) */
a.block {
  display: block;
  padding: 0.5rem;
  border-radius: var(--radius-sm);
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  transition: var(--transition-text);
  text-decoration: none;
  color: var(--color-text-secondary);
  position: relative;
}

.link-with-icon a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/* Underline Animation */
.link-with-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 80%;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  opacity: 0;
  transform: translateX(-50%);
  transition:
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.link-with-icon:hover::after,
.link-with-icon:focus::after,
.link-with-icon:active::after {
  width: 100%;
  opacity: 1;
  left: 50%;
}

.clickable_icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

/* Images */
img.logo {
  width: 64px;
  height: 64px;
}

/* Header Banner (ps: when I say banner, I'm not referring to the image, but for page main top header*/
.header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  background-image: url('/assets/images/datsforge/banner/datsforge_banner_v003_1920x1080.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0;
  min-height: var(--header-banner-size);
  height: var(--header-banner-size);
  color: var(--color-text-primary);
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  padding: var(--spacing-xs);
  box-sizing: border-box;
}

.slogan {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.slogan h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: var(--font-size-xxl);
  font-family: var(--font-banner);
}

.slogan p {
  margin: 0;
  text-align: left;
  color: var(--color-text-accent);
  font-size: var(--font-size-xl);
  font-family: var(--font-banner);

  text-shadow:
    0 0 1px #ec7550,
    0 0 3px #ef5c2f,
    0 0 5px rgba(171, 71, 41, 0.5);
}

/* Containers & Layout */
.container {
  background-color: var(--color-surface);
  padding: var(--container-padding);
}

.mockup_left_aligned,
.mockup_right_aligned {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1.5rem;
  border-radius: var(--radius-xs);
  background-color: var(--color-secondary);
  box-shadow: 2px 3px 4px 3px var(--color-shadow);
  border-bottom: var(--border-size) solid var(--color-border);

  text-align: start;
}

.mockup_right_aligned {
  text-align: end;
}

.mockup_left_aligned img,
.mockup_right_aligned img {
  max-width: 35vw;
  max-height: 70vh;
  height: auto;
  object-fit: contain;
  align-self: flex-start;
}

.mockup_descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.mockup_right_aligned .mockup_descriptions {
  align-items: flex-end;
}

.mockup_left_aligned .mockup_descriptions {
  align-items: flex-start;
}

.mockup_left_aligned .link-with-icon-group {
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.mockup_right_aligned .link-with-icon-group {
  flex-direction: column;
  gap: 0.5rem;
  align-items: end;
}


.content-centered,
.content-centered-sectioned {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--spacing-s) 0;
}

.content,
.content-sectioned {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: var(--spacing-s) 0;
}

.content-sectioned {
  border-top: var(--border-size) solid var(--color-border);
}

/* Footer */
footer {
  background-color: var(--color-bg);
  text-align: center;
  margin-top: auto;
  padding: 4rem 0;
  font-size: var(--font-size-sm);
}

footer p {
  font-size: var(--font-size-sm);
}

footer a {
  font-size: var(--font-size-sm);
  font-family: var(--font-main);
  color: var(--color-text-primary);
  transition: var(--transition-text);
}

footer a:hover,
footer a:focus,
footer a:active {
  color: var(--color-text-accent);
}