 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

 :root {
   /* Brand Colors */
   --color-primary: #740e0e;
   --color-primary-dark: #5a0808;
   --color-accent: #E04E4E;
   --color-accent-secondary: #ff914d;

   /* Surface & Background */
   --color-surface: #2B1515;
   --color-bg: #1A0E0E;
   --color-border: #3A2A2A;
   --color-shadow: rgba(0, 0, 0, 0.25);

   /* Text Colors */
   --color-text-primary: #F5F5F5;
   --color-text-muted: #BFAFAF;
   --color-text-accent: #FFDADA;
   --color-text-accent-secondary: #fddc24;

   /* State Colors */
   --color-success: #3DA35D;
   --color-warning: #D96B6B;

   /* Typography */
   --font-nav: 'Lato', Arial, sans-serif;
   --font-main: 'Inter', sans-serif, monospace;
   --font-banner: 'Courier New', sans-serif, monospace;
   --font-size-sm: 0.9rem;
   --font-size-base: 1.2rem;
   --font-size-lg: 1.5rem;
   --font-size-xl: 1.8rem;
   --font-size-xxl: 2.8rem;
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;

   /* Spacing */
   --margin-horizontal-main: 3.7%;
   --spacing-xs: 0.25em;
   --spacing-sm: 0.5em;
   --spacing-md: 1em;
   --spacing-lg: 2em;
   ;
   --spacing-xl: 4em;

   /*Radius*/
   --radius-sm: 2.5%;

   /* Layout */
   --nav-height: 5.7em;
   --header-banner-size: 21rem;

   /* Transitions */
   --transition-nav: 0.3s ease;
   --transition-text: 0.3s ease;
 }