 /* 
  © 2025 datsforge 
  Proprietary – See LICENSE for details. 
*/

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

 :root {
   /* Brand Colors */
   --color-primary: #890d0d;
   --color-primary-dark: #5f1010;
   --color-accent: #E04E4E;
   --color-accent-secondary: #ff914d;
   --color-secondary: #373335;

   /* Surface & Background */
   --color-surface: #361111;
   --color-bg: #1A0E0E;
   --color-border: #9f9595;
   --color-shadow: rgba(0, 0, 0, 0.2);

   /* Text Colors */
   --color-text-primary: #F5F5F5;
   --color-text-secondary: #fffd6a;
   --color-text-muted: #BFAFAF;
   --color-text-accent: #fddc24;

   /* State Colors */
   --color-success: #3DA35D;
   --color-warning: #D96B6B;

   /* Typography */
   --font-nav: 'Lato', Arial, sans-serif;
   --font-main: 'Roboto', sans-serif, monospace;
   --font-banner: 'Courier Prime', 'Courier N', monospace;
   --font-size-sm: 1.0rem;
   --font-size-base: 1.3rem;
   --font-size-lg: 1.5rem;
   --font-size-xl: 1.8rem;
   --font-size-xxl: 2.8rem;
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;

   /* Spacing */
   --margin-horizontal-main: 3.7%;
   --margin-horizontal-content: 13%;
   --container-padding: 0.5% 13%;
   --border-size: 0.12rem;

   --spacing-xs: 1.5rem;
   --spacing-s: 2.2rem;
   --spacing-m: 2.7em;
   --spacing-l: 2em;
   --spacing-xl: 4em;

   /*Radius*/
   --radius-xs: 0.7rem;
   --radius-sm: 2.5%;

   /* Layout */
   --nav-height: 5.7rem;
   --header-banner-size: 27rem;
   --header-banner-size-mobile: 17rem;

   /* Transitions */
   --transition-nav: 0.3s ease;
   --transition-text: 0.3s ease;
 }